@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #07484d, #47c4dd);
    
    }

    #login{
        width: 80vw;
        height: 280px;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario{
        float: right;
        width: 70%;
    }

    #formulario > h1{
        font-size: 1.3em;
    }

    #formulario > p {
        margin: 10px;
        font-size: 1em;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
        
    body{
        background-image: linear-gradient(to top,#042e31, #37b6cf);
    
    }
    
        #login{
        width: 960px;
        height: 370px;    
       }

        #login > #imagem {
            float: right;
            width: 40%;
            height: 100%;
        }

        #login > #formulario {
            float: left;
            width: 50%;
        }

        #formulario > h1{
            font-size: 1.5em;
        }
        
        #formulario > p{
            font-size: 1em;
            margin: 25px;
            text-align: center;
        }
}